:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
}

.card {
  width: 100%;
  position: relative;
}

.btn-prove {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  display: block;
  cursor: pointer;

  &:hover {
    background-color: #007bff;
    color: white;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    border-color: transparent;
    
    &:hover {
      border-color: transparent;
    }
  }
}
